.signup {
    h1 {
        font-weight: 300;
        font-size: 42px;
        margin-bottom: 30px;
    }

    span {
        display: block;
        margin: 22px 0 25px 0;
    }

    input {
        background-color: #ffff;
        font-size: 17px;
        font-weight: 300;
        padding: 16px 15px;
        border-radius: 7px;
        font-family: inherit;
        width: 100%;
        border: none;
        font-weight: 500;
        margin-bottom: 27px;

        &::placeholder {
            font-weight: 300;
        }
    }

    button {
        display: block;
        font-family: inherit;
        background-color: #6851ff;
        color: #fff;
        border: none;
        font-size: 17px;
        font-weight: 400;
        width: 100%;
        border-radius: 7px;
        padding: 16px 0;
        cursor: pointer;
    }
}
